// NOTE: Babel is only used for running unit tests; Buble is used for the browser build.
// Uses jest's BABEL_ENV=test for isolation
{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "react"
      ]
    }
  }
}