name: Docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9.x
      - run: pip install mkdocs==1.1 mkdocs-material mkdocs-include-markdown-plugin mkdocs-git-revision-date-plugin
      - run: mkdocs gh-deploy --strict --force
